
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Biota Mobile Application End User License Agreement</title>
  <meta name="PAW.digital" content="EULA">

<style type="text/css">

body {
    font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 48px;
    font-size: 30px;
    line-height: 40px;
    max-width: 1024px;
    margin: 0 auto;
}

</style>

</head>

<body>

<p align="center">
    <strong>
       Biota Mobile Application End User License Agreement
    </strong>
</p>
<p>
This Biota Mobile Application End User License Agreement ("<strong>Agreement</strong>") is a binding agreement between you ("<strong>End User</strong>," "<strong>you</strong>" or "<strong>your</strong>") and <strong>PAW.digital </strong>("<strong>PAW.digital</strong>",<strong> </strong>" <strong>we</strong>", <strong>"our</strong>" or "<strong>us</strong>").
    This Agreement governs your use on your mobile device of the compiled,
    executable <strong>Biota </strong>mobile application released by
us, and all related documentation (collectively, the "    <strong>Application</strong>").
</p>
<p>
    The Application is licensed (not sold) to you, pursuant to and subject to
    your compliance with the terms and conditions of this Agreement.
</p>


<p align="center">
    <strong><u>DISCLAIMER: PLEASE READ THIS FIRST</u></strong>
</p>
<p>
    THE APPLICATION IS OWNED, OPERATED AND RELEASED BY PAW.digital
    ONLY. PAW.digital IS INDEPENDENT OF, AND OPERATES SEPARATELY FROM,
    THE ENTITIES WHO ARE DEVELOPING, OPERATING, MAINTAINING OR SUPPORTING
    THE PAW PROTOCOL, THE PAW NETWORK, THE PAW CURRENCY OR ANY
    SOFTWARE WALLET THAT IS NOT RELEASED BY PAW.digital (COLLECTIVELY,
    "<strong>SEPARATE TECHNOLOGIES</strong>").<br />
	THE PAW NETWORK IS A DECENTRALIZED OPEN SOURCE NETWORK NO SINGLE ENTITY OWNS OR HAS FULL CONTROL OVER.<br />
	FOR THE AVOIDANCE OF DOUBT, PAW.digital DOES NOT OWN, DEVELOP, OPERATE, MAINTAIN OR SUPPORT ANY OF
    THE SEPARATE TECHNOLOGIES. ANY OF THESE SEPERATE TECHNOLOGIES BIOTA BUILDS ON ARE BEING DEVELOPED, OPERATED AND MAINTAINED BY OTHER INDIVIDUALS.
</p>
<p>
    THE BIOTA APPLICATION IS NOT A BANKING, CUSTODIAL OR OTHER SERVICE APPLICATION. YOUR USE OF THE
    APPLICATION AND YOUR CREATION AND ACCESSING OF A WALLET ON THE PAW
    NETWORK (A "<strong>WALLET</strong>") USING THE APPLICATION DOES
    NOT INVOLVE THE OPENING, ESTABLISHING OR MANAGING OF AN "ACCOUNT" WITH PAW.digital;
    INSTEAD, YOU ARE SIMPLY USING THE APPLICATION TO INTERACT WITH THE DECENTRALIZED PAW NETWORK AND YOUR WALLET/ACCOUNTS ON
    THE PAW NETWORK.
</p>
<p>
    A "<strong>WALLET SEED</strong>" IS A UNIQUE CODE THAT IS PROVIDED TO YOU
    BY THE APPLICATION, THROUGH ITS DIRECT INTERACTION WITH THE PAW
    NETWORK (I.E., WITHOUT OUR INVOLVEMENT) WHEN YOU FIRST CREATE A NEW
    WALLET USING THE APPLICATION. YOUR WALLET SEED IS THE ONLY WAY FOR YOU TO
    RECOVER YOUR WALLET ON THE PAW NETWORK AND ACCESS ANY PAW
    CURRENCY YOU STORE IN THAT WALLET.
</p>
<p>
    WE DO NOT RECEIVE, COLLECT, RECORD, STORE OR HAVE ACCESS TO YOUR WALLET
    SEED. THEREFORE, WE CANNOT RECOVER IT FOR YOU IF YOU LOSE IT AND WE CANNOT
    PROVIDE YOU WITH ACCESS TO ANY PAW THAT YOU STORE IN YOUR WALLET.
    YOU ARE SOLELY RESPONSIBLE FOR RECORDING YOUR WALLET SEED IN A SAFE AND
    SECURE PLACE AND MANNER. DO NOT SHARE YOUR WALLET SEED WITH ANYONE, OR
    PERMIT ANYONE TO USE YOUR MOBILE DEVICE ON WHICH THE APPLICATION IS
    INSTALLED WHO YOU DO NOT WANT TO BE ABLE TO ACCESS YOUR WALLET OR YOUR PAW
    CURRENCY.
</p>
<p>
    ANY PAW THAT YOU CHOOSE TO ACCESS, HOLD, STORE, MANAGE, RECEIVE,
    SEND OR TRANSMIT USING THE APPLICATION, AND ANY BALANCE AND TRANSACTION
    INFORMATION RELATING TO IT, ARE NEVER ACCESSED, HELD, STORED, MANAGED,
    RECEIVED, SENT OR TRANSMITTED BY PAW.digital.
</p>

<p>
    YOU ARE SOLELY RESPONSIBLE FOR THE SECURITY OF YOUR MOBILE DEVICE, YOUR
    PAW CURRENCY, AND YOUR WALLET SEED. PAW.digital IS NOT AND WILL
    NOT BE RESPONSIBLE IN ANY MANNER FOR THE SECURITY OR PROTECTION OF YOUR
    PAW CURRENCY OR WALLET SEED.
</p>
<p>
    YOUR USE OF THE APPLICATION IS AT YOUR OWN RISK AND PAW.digital
    DOES NOT MAKE ANY REPRESENTATIONS, WARRANTIES OR GUARANTEES REGARDING THE
    SECURITY, COMPATIBILITY, SUITABILITY OR RELIABILITY OF THE APPLICATION OR
    ANY PAW CURRENCY THAT YOU ACCESS, HOLD, STORE, MANAGE, RECEIVE, SEND OR
    TRANSMIT USING THE APPLICATION.
</p>
<p>
    <strong>Effective Date: November 11th, 2021</strong>
</p>


</body>
</html>
